p, body, td, input, select, button {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
    font-size: 14px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}

a {
    color: #1155a3;
}

.space {
    margin: 10px 0px 10px 0px;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 5%;
    background: rgb(140, 82, 255);
    color: #fff;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
   
.menu {
    background-color: rgb(140, 82, 255);
    color: #fff;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s;
    z-index: 10000;
  }
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  .menu ul li {
    padding: 10px;
    text-align: center;
  }
  
  .menu-button {
    background-color: rgb(140, 82, 255);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 1%;
    font-size: 24px;
    position: fixed;
    top: 10px;
    left: 10px;
  }
  
  .menu-button-styled {
    background-color: rgb(139, 115, 255);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: rgb(139, 0, 255);
  }
  
  button:active {
    background-color: rgb(200, 0, 100);
  }
  
  .barra-superior {
    justify-content: flex-start;
    align-items:center;
    padding-right: 10px;
    background-color: rgb(140, 82, 255);
    height: 11vh;
    display: flex;
    left: 0;
    align-items: center;
    padding: 0 20px;
  }
  
  .user-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .user-menu {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
  }
  
  .user-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

.main {
    padding: 10px;
    margin-top: 20px;
}

/* context menu icons */
.icon:before {
    position: absolute;
    left: 0px;
    margin-left: 8px;
    margin-top: 3px;
    width: 14px;
    height: 14px;
    content: '';
}

.icon-blue:before { background-color: #2e78d6; }
.icon-green:before { background-color: #6aa84f; }
.icon-yellow:before { background-color: #efb914; }
.icon-red:before { background-color: #cc4125; }


/* columns */

.wrap {
    display: flex;
}

.left {
    margin-right: 10px;
}

.right {
    flex-grow: 1;
}

/* toolbar */
.toolbar {
    margin-bottom: 20px;
}

.boton{
    background-color: rgb(232,106,167);
    color: white;
    padding: 10px 20px;
    border: none;
    width: 45%;
    border-radius: 40px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }

.month_default_event_inner {
    border-radius: 20px;
}
