body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.menu {
    background-color: rgb(140, 82, 255);
    color: #fff;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s;
}
.menu ul {
    list-style-type: none;
    padding: 0;
}
.menu ul li {
    padding: 10px;
    text-align: center;
}
.menu-button {
    background-color: rgb(140, 82, 255);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 1%;
    font-size: 24px;
    position: fixed;
    top: 10px;
    left: 10px;
}

.menu-button-styled {
    background-color: rgb(139, 115, 255);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(139, 0, 255);
}

button:active {
    background-color: rgb(200, 0, 100);
}

.barra-superior {
    justify-content: flex-start;
    align-items:center;
    padding-right: 10px;
    background-color: rgb(140, 82, 255);
    height: 11vh;
    display: flex;
    left: 0;
    align-items: center;
    padding: 0 20px;
}

.user-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.user-menu {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}

.user-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
}